@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
}
a{
    font-family: inherit;
    text-decoration: none;
}
.nav-container_main {
    position: fixed;
    top: 0;
    width: 100%; 
    z-index: 1;
}
.logo-main{
    background-image: url(assents/imgs-gerais/logo/logo_jardim_dos_sonhos.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-left: 20px;
    width: 90px;
    height: 90px;
}
.nav-main{
    background-color: #97DD6B;
    padding-inline: 16px; /*se comporta como padding-left e padding-right.*/
}
.nav{
    max-width: 1280px;
    height: 70px;
    margin-inline: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-list{
    display: flex;
    gap: 32px;
    list-style: none;
    padding: 5px;
}
.nav-list a{
    font-family: inherit;
    font-size: 18px;
    color: white;
    padding-block: 16px; /* se comporta como padding-top e padding-bottom.*/
}
.nav-list li:hover {
    transform: scale(1.1); 
    border-bottom: 1.5px solid white; 
    transition: transform 0.3s ease, border-bottom-color 0.3s ease;
}
.menu-nav{
    display: none;
    border: none;
    background: none;
    border-top: 3px solid white;
    cursor: pointer;
}
.menu-nav::before, .menu-nav::after{
    content: " ";
    display: block;
    width: 30px;
    height: 3px;
    background-color: white;
    margin-top: 5px;
    position: relative;
    transition: 0.3s;
}
.slider{
    margin: 0 auto;
    width: 100%;
    height: 450px;
    overflow: hidden;
    position: relative;
}
.slides{
    width: 500%;
    height: 450px;
    display: flex;
}
.slides input{
    display: none;
}
.slide{
    width: 20%;
    margin-top: 70px;
    transition: 2s;
    position: relative;
}
.slide img {
    width: 100%; 
    height: 100%;
    object-fit: cover;
    
}
.manual-navigation{
    position: absolute;
    bottom: 6px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    width: auto;
}
.manual-btn{
    border: 2px solid white;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    
}
.manual-btn:not(:last-child){
    margin-right: 40px;
}
.manual-btn:hover{
    background-color: white;
}
#radio1:checked ~ .first{
    margin-left: 0;
}
#radio2:checked ~ .first{
    margin-left: -20%;
}
#radio3:checked ~ .first{
    margin-left: -40%;
}
#radio4:checked ~ .first{
    margin-left: -60%;
}
#radio5:checked ~ .first{
    margin-left: -80%;
}
.navigation-auto div{
    border: 2px solid #ffffff;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
}
.navigation-auto{
    position: absolute;
    width: 100%;
    margin-top: 430px;
    display: flex;
    justify-content: center;
}
.navigation-auto div:not(:last-child){
    margin-right: 40px;
}
#radio1:checked ~ .navigation-auto .auto-btn1{
    background-color: #C737A1;
}
#radio2:checked ~ .navigation-auto .auto-btn2{
    background-color: #6976E0;
}
#radio3:checked ~ .navigation-auto .auto-btn3{
    background-color: #2CA9A1;
}
#radio4:checked ~ .navigation-auto .auto-btn4{
    background-color: #FFD55A;
}
#radio5:checked ~ .navigation-auto .auto-btn5{
    background-color: #E67D53;
}

.additional-pages_main{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 700px;
    height: 500px;
    margin: 25px auto;
}
.content-imgs_main{
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}
.img1{
    background-image: url(assents/imgs-gerais/imgs-elementos/brinquedo_de_encaixe.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 10px auto;
    width: 100px;
    height: 120px;
}
.img2{
    background-image: url(assents/imgs-gerais/imgs-elementos/chocalho.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 10px auto;
    width: 73px;
    height: 120px;
}
.img3{
    background-image: url(assents/imgs-gerais/imgs-elementos/blocos_coloridos.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 10px auto;
    width: 105px;
    height: 120px;
}
.content {
    flex: 1;
    display: flex;
    flex-direction: column; 
    gap: 10px; 
}
.instituicao{
    width: 200px;
    margin: 30px;
}
.bercario{
    width: 200px;
    margin: 30px;
}
.ed-infantil{
    width: 200px;
    margin: 30px;
}
.title-additional-pages{
    text-align: center;
    font-size: 18.5px;
    font-weight: bold;
    color: darkgreen;
}
.paragraph-additional-pages{
    text-align: center;
    font-size: 15.5px;
    margin: 10px;
    color: #2a2929;
}
.paragraph-more-pages-main{
    text-align: center;
    font-family: inherit;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
    padding-bottom: 5px;
    color: darkgreen;
    cursor: pointer;
}
.paragraph-more-pages-main:hover{
    border-bottom: 2px solid rgb(108, 166, 72);
    transition: 0.2s ease;
}
.basic-information_main {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.basic-information_main{
    width: 750px;
    height: auto;
    display: flex;
    justify-content: center;   
    align-items: center;
    margin: auto;
    padding-top: 15px;
    padding-left: 45px;
    padding-right: 45px;
    
}
.content-texts-arts {
    display: flex;
    align-items: center;
    justify-content: space-between; 
    gap: 15px; 
    padding-top: 35px;
    padding-bottom: 35px;
    padding-left: 25px;
    padding-right: 25px;
    border-radius: 20px;
    background-color: #97dd6b68;
}
.content-texts-arts:nth-child(odd) {
    flex-direction: row; 
}

.content-texts-arts:nth-child(even) {
    flex-direction: row-reverse; 
}
.content-arts{
    border-radius: 20px;
}
.desenho1{
    background-image: url(assents/imgs-gerais/imgs-desenhos/desenho_casa.jpg);
    flex-shrink: 0;
    background-size: cover;
    background-repeat: no-repeat;
    width: 220px;
    height: 150px;
    border-radius: 20px;
    transition: transform 0.3s ease;
}
.desenho1:hover {
    transform: scale(1.1); 
}
.desenho2{
    background-image: url(assents/imgs-gerais/imgs-desenhos/desenho_gato.webp);
    flex-shrink: 0;
    background-size: cover;
    background-repeat: no-repeat;
    width: 250px;
    height: 150px;
    border-radius: 20px;
    transition: transform 0.3s ease;
}
.desenho2:hover {
    transform: scale(1.1); 
}
.desenho3{
    background-image: url(assents/imgs-gerais/imgs-desenhos/desenho_familia.jpg);
    flex-shrink: 0;
    background-size: cover;
    background-repeat: no-repeat;
    width: 270px;
    height: 210px;
    border-radius: 20px;
    transition: transform 0.3s ease;
}
.desenho3:hover {
    transform: scale(1.1); 
}
.content-texts{
    padding-left: 7px;
}
.paragraph-principal-information,
.paragraph-information {
    flex: 1;
    font-family: inherit;
    color: #333;
}
.paragraph-principal-information{
    font-size: 2rem;
    padding-top: 5px;
    padding-bottom: 5px;
    line-height: 1.2;
}
.paragraph-information{
    font-size: 1rem;
    line-height: 1.5;
}
.content-calendar{
    width: 750px;
    padding: 25px;
    margin: 55px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.content-dates article {
    padding: 3px;
    transition: transform 0.3s ease; 
}
.content-dates article:hover {
    transform: scale(1.1);
    border-radius: 20px;
}
.title-dates{
    font-size: 2rem;
    color: #333;
    font-family: inherit;
    margin-top: 35px;
}
.date-calendar{
    background-color: #5cbf1ebe;
    border-radius: 20px 20px 0px 0px;
    margin: 10px 10px 0px 10px;
    padding: 5px 5px 5px 15px;
    font-weight: bold;
    color: #333;
}
.paragraph-calendar{
    background-color: #97dd6ba0;
    border-radius: 0px 0px 20px 20px;
    margin: 0px 10px 10px 10px;
    padding: 5px 5px 5px 15px;
    color: #2a2929;
}
.slider-comment-parents_main{
    height: 100vh;
}
.content-text-testimonials{
    font-size: 1.6rem;
    color: #333;
    font-family: inherit;
    margin-top: 15px;
    margin-bottom: 35px;
    text-align: center;
}
.slider-comment-parents_main {
    position: relative;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 700px; 
    height: 500px;
}
.content-slides_testimonials {
    position: absolute;
    width: 100%;
    height: 100%;
    transition: opacity 1s ease-in-out;
}
.slide-testimonials {
    justify-content: center;
    align-items: center;
    text-align: start;
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100%;
}
.paragraph_comment{
    justify-content: center;
    align-items: center;
    width: 670px;
    text-align: justify;
    border: 7px solid #97DD6B;
    background-color: #c9faaa;
    border-radius: 25px;
    margin: auto;
    padding: 30px;
}
.paragraph_comment_names{
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 25px auto 25px;
    padding: 5px;
    width: 200px;
    background-color: #52a021;
    color: white;
    border-radius: 25px;
}
.slide-testimonials.active {
    opacity: 1;
}

.content-text{
    text-align: center;
    font-size: 1.6rem;
    font-family: inherit;
    font-weight: bold;
    margin-top: 35px;
    color: #333;
}
.content-map-contact{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.content-mapBox{
    position: relative;
    width: 450px;
    height: 350px;
    background-color: #ffffff;
    border-radius: 20px;
    z-index: 0;
}
.content-mapBox iframe{
    border-radius: 20px 0px 0px 20px;
}
.content-contact{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 500px;
    height: 430px;
    flex-direction: column;
    padding: 25px 45px;
    background-color: #97DD6B;
    border-radius: 20px;
    z-index: 0;
}
.content-contact form{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.content-contact form label{
    font-size: 16px;
    font-weight: bold;
    color: #333;
    margin-top: 5px;
    margin-bottom: 2px;
}
.content-contact form input{
    padding: 15px;
    outline: none;
    border: 0;
    margin-bottom: 5px;
    border-radius: 5px;
    font-size: 15.5px;
    color: #2a2929;
    transition: all 0.5s;
}
.content-contact form input:focus{
    border-radius: 25px;
    border: 2px solid #52a021;
}
.content-contact form textarea{
    font-family: inherit;
    padding: 10px;
    outline: none;
    border: none;
    border-radius: 5px;
    font-size: 15.5px;
    margin-bottom: 15px;
    transition: all 0.5s;
}
.content-contact form textarea:focus{
    border-radius: 25px;
    border: 2px solid #52a021;
}
.content-contact form textarea::-webkit-scrollbar {
    width: 8px;
}
.content-contact form textarea::-webkit-scrollbar-track {
    background: #FFFFFF;
    border-radius: 30px;
}
.content-contact form textarea::-webkit-scrollbar-thumb {
    background: #5d903e; 
    border-radius: 30px;
}
.content-contact form button{
    padding: 10px;
    cursor: pointer;
    font-size: 16px;
    background-color: transparent;
    border: 2px solid #5cbf1ebe;
    color: #333;
    font-weight: bold;
    transition: all 0.5s;
    margin-bottom: 20px;
    border-radius: 5px;
}
.content-contact form button:hover{
    background-color: #5cbf1ebe;
    border-radius: 25px;
}
.content-contact form button:focus{
    transform: scale(1.1);
}

.content-footer{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
    margin: auto;
    width: 100%;
    background-color: #97DD6B;
    height: 430px;
}
.content-information_footer{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
    margin: auto;
    padding: 25px;
    width: 600px;
}
.logo-footer{
    background-image: url(assents/imgs-gerais/logo/logo_jardim_dos_sonhos.png);
    width: 150px;
    height: 100px;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    top: -25px;
    margin-right: 10px;
}
.information-schedules-location_footer{
    font-weight: bold;
    font-size: 18px;
    margin-left: 10px;
}
.links-social-media_footer{
    padding: 10px;
}
.text-social-media_footer{
    text-align: center;
    font-size: 20px;
    padding: 10px;
}
.content-social-media{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 10px;
}
.motto_footer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 450px;
    text-align: center;
    font-weight: bold;
    font-size: 19.5px;
    padding: 10px 10px 50px 10px;
    position: relative;
    top: -20px;
}
.programmer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 100%;
    text-align: center;
    font-size: 14px;
    padding: 10px;
    color: white;
    background-color: #52a021;
    position: absolute;
    bottom: 0;
}

@media (max-width:918px) {
    .menu-nav{
        display: block;
        z-index: 1;
    }
    .nav-list{
        position: fixed;
        top: -10px;
        left: 0;
        padding-top: 20px;
        width: 100vw;
        height: 100vh;
        background-color: #97DD6B;
        clip-path: circle(100px at 90% -15%);
        transition: 1s ease-out;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        gap: 0;
        pointer-events: none;
    }
    .nav-list a{
        font-size: 24px;
        opacity: 0;
    }
    .nav-list li:nth-child(1) a {
        transition: 0.5s 0.1s;
    }
    .nav-list li:nth-child(2) a {
        transition: 0.5s 0.2s;
    }
    .nav-list li:nth-child(3) a {
        transition: 0.5s 0.3s;
    }
    .nav-list li:nth-child(4) a {
        transition: 0.5s 0.4s;
    }
    .nav-list li:nth-child(5) a {
        transition: 0.5s 0.5s;
    }
    .nav-list li:nth-child(6) a {
        transition: 0.5s 0.6s;
    }
    .nav.active .nav-list{
        clip-path: circle(1500px at 90% -15%);
        pointer-events: all;
    }
    .nav.active .nav-list a{
        opacity: 1;
    }
    .nav.active .menu-nav{
        position: fixed;
        top: 26px;
        right: 16px;
        border-top-color: transparent;
    }
    .nav.active .menu-nav::before{
        transform: rotate(135deg);
    }
    .nav.active .menu-nav::after{
        transform: rotate(-135deg);
        top: -7px;
    }
}