@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    -webkit-user-select: none; /* Para navegadores baseados em WebKit */
    -moz-user-select: none;    /* Para Firefox */
    -ms-user-select: none;     /* Para Internet Explorer/Edge */
    user-select: none;
}
::-webkit-scrollbar {
  width: 7px;
  background: none;
}
::-webkit-scrollbar-track {
    background: transparent;
}
::-webkit-scrollbar-thumb {
  background-color: #428319;
  border-radius: 10px;
}
a{
    font-family: inherit;
    text-decoration: none;
}
nav {
    width: 100%; 
    background-color: #97DD6B;
    box-shadow: 0px 0px 5px black; 
    position: fixed; 
    display: flex; 
    align-items: center;
    justify-content: center; 
    top: 0; 
    z-index: 1000; 
}
.nav-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0 1rem;
}
.logo-main{
    background-image: url(imgs/logo_jardim_dos_sonhos.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-left: 20px;
    width: 110px;
    height: 70px;
}
nav li {
    height: 50px;
    transition: transform 0.3s ease-in-out; 
}
nav li:hover {
    transform: scale(1.05); 
}
nav a {
    height: 100%;
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: black;
}
.nav_menu-button-icon { 
    display: flex; 
    align-items: center; 
    justify-content: center; 
} 
.sidebar { 
    position: fixed; 
    top: 0; 
    right: 0; 
    height: 100vh; 
    width: 250px; 
    z-index: 999; 
    background-color: #97dd6b44; 
    backdrop-filter: blur(15px); 
    box-shadow: -10px 0 10px rgba(0,0,0,0.1); 
    display: none; 
    flex-direction: column; 
    align-items: flex-start; 
    justify-content: flex-start; 
    list-style: none;
} 
.sidebar li { 
    width: 100%;
} 
.sidebar a { 
    width: 100%;
    color: black;
    position: relative;
    overflow: hidden;
    transition: 0.3s ease-in-out;
}
.sidebar a:not(.nav_closed-button-icon a)::before{
    content: "";
    position: absolute;
    top: 0;
    left: 100%;
    width: 100%;
    height: 100%;
    z-index: -1;
    transition: left 0.3s ease-in-out;
}
.sidebar a:not(.nav_closed-button-icon a):hover::before{
    left: 0;
}
.nav_closed-button-icon { 
    display: flex; 
    align-items: flex-end; 
    justify-content: flex-end; 
} 
.photo-main{
    background-image: url(imgs/bebe_pulando.jpg);
    width: 100%;
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    overflow: hidden;
}
.paragraph-photo{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 35px;
    margin-bottom: 10px;
    font-size: 4rem;
    font-weight: bold;
    color: #386d17;
}
.line {
    display: flex; /* Mantenha a linha como flexível */
    justify-content: center;
    align-items: center;
    margin: auto;
    height: 2px;
    background-color: #52a021;
    width: 0; /* Inicialmente com largura 0 */
    transition: width 1s ease; /* Transição suave para a largura */
}
.line.visible {
    width: 400px; /* Largura final quando visível */
}
.content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: auto;
    max-width: 70vw;
    height: 100%;
}
.content-ideias-educational {
    text-align: justify;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.title-ideias-educational{
    font-size: 2.5rem;
    padding: 35px;
    white-space: normal;
    margin: auto;
    text-align: left;
    color: #386d17;
}
.environment{
    text-align: justify;
    line-height: 1.7rem;
    margin-top: 75px;
    margin-bottom: 35px;
    width: 100vw; 
    padding: 20px;
}
.environment p{
    width: 75vw;
    font-size: 15.5px;
    padding: 10px;
    margin: 0 auto;
}
.care {
    text-align: justify;
    line-height: 1.7rem;
    background-color: #85ec45ab;
    width: 100vw; 
    padding: 20px;
}
.care-content {
    width: 100%;
    margin: 0 auto;
}
.care p{
    width: 75vw;
    font-size: 15.5px;
    padding: 10px;
    margin: 0 auto;
}
.development{
    text-align: justify;
    line-height: 1.7rem;
    margin-bottom: 35px;
    width: 100vw; 
    padding: 20px;
}
.development p{
    width: 75vw;
    font-size: 15.5px;
    padding: 10px;
    margin: 0 auto;
}
.hygiene_and_nutrition{
    text-align: justify;
    line-height: 1.7rem;
    background-color: #85ec45ab;
    width: 100vw; 
    padding: 20px;
}
.hygiene_and_nutrition p{
    width: 75vw;
    font-size: 15.5px;
    padding: 10px;
    margin: 0 auto;
}
.hygiene_and_nutrition-content {
    width: 100%;
    margin: 0 auto;
}
.title-FAQ-box{
    font-size: 2.5rem;
    padding: 35px;
    white-space: normal;
    margin: auto;
    text-align: center;
    color: #386d17;
}
.questions-container{
    max-width: 800px;
    margin: 10px auto;
}
.question{
    border-bottom: 1px solid #fff;
}
.question button{
    width: 100%;
    background-color: #85ec45ab;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 15px;
    border:none;
    outline: none;
    font-size: 18px;
    color: #fff;
    font-weight: 700;
    cursor: pointer;
}
.question p{
    font-size: 16px;
    max-height: 0;
    opacity: 0;
    line-height: 1.5;
    overflow: hidden;
    margin: 10px;
    transition: all 0.6s ease;
}
.d-arrow{
    transition: transform 0.5s ease-in ;
    color: #fff;
}
.question p.show{
    max-height: 200px; 
    opacity: 1;
    padding:0px 15px 30px 15px;
}
.question button .d-arrow.rotate{
    transform: rotate(180deg);
}
.content-footer{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
    margin: auto;
    width: 100%;
    background-color: #85ec45ab;
    height: 430px;
}
.content-information_footer{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
    margin: auto;
    padding: 25px;
    width: 600px;
}
.logo-footer{
    background-image: url(imgs/logo_jardim_dos_sonhos.png);
    width: 150px;
    height: 100px;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    top: -25px;
    margin-right: 10px;
}
.information-schedules-location_footer{
    font-weight: 600;
    font-size: 18px;
    margin-left: 10px;
}
.links-social-media_footer{
    padding: 10px;
}
.text-social-media_footer{
    text-align: center;
    font-size: 20px;
    padding: 10px;
}
.content-social-media{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 10px;
}
.motto_footer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 450px;
    text-align: center;
    font-weight: 600;
    font-size: 19.5px;
    padding: 10px 10px 50px 10px;
    position: relative;
    top: -20px;
}
.programmer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 100%;
    text-align: center;
    font-size: 14px;
    padding: 10px;
    color: white;
    background-color: #52a021;
    position: absolute;
    bottom: 0;
}
@media (max-width:918px) {
    .title-ideias-educational{
        font-size: 1.8rem;
    }
    .environment{
        margin-top: 35px;
    }
    .environment p{
        font-size: 15px;
    }
    .care p{
        font-size: 15px;
    }
    .development p{
        font-size: 15px;
    }
    .hygiene_and_nutrition p{
        font-size: 15px;
    }
    .title-FAQ-box{
        font-size: 1.8rem;
    }
    .question button{
        font-size: 18px;
    }
    .question p{
        font-size: 15px;
    }
    .paragraph-photo{
        margin-top: 35px;
        font-size: 2.8rem;
    }
    .line.visible {
        width: 230px; 
    }
    .logo-footer{
        width: 130px;
        height: 88px;
        position: relative;
        top: -22px;
    }
    .information-schedules-location_footer{
        font-size: 16.5px;
    }
    .text-social-media_footer{
        font-size: 17.5px;
    }
    .content-social-media{
        gap: 20px;
    }
    .motto_footer{
        margin: 20px;
        font-size: 17.5px;
        position: relative;
        top: -30px;
    }
    .programmer{
        font-size: 13.5px;
    }
}
@media (max-width: 501px) {
    .sidebar { 
        width: 100%; 
    } 
    .photo-main{
        display: none;
    }
    .paragraph-photo{
        margin-top: 135px;
        font-size: 2.2rem;
    }
}